/* start 태그와 question 태그 모두 article 태그라서 article 태그에 속성을 주면 동시에 적용됨
.start{
    display: flex;
    flex-direction: column;
}
*/
.logo {
    width: 100px;
    margin-top: 14px;
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.main-nav li {
    margin-left: 36px;
       font-family: 'Do Hyeon', sans-serif;
    line-height: 1.7;
    color: #432;
}

.main-nav a{
    color: #432;
       font-family: 'Do Hyeon', sans-serif;
    line-height: 1.7;
}

.main-nav a:hover {
    color: #0bd;
}


.page-header {
    display: flex;
    justify-content: space-between;
}

    
article{
    display: flex;
    flex-direction: column;
}

 
    
.question{
    display: none;
}

.result{
    display: none;
}
.progress-bar {
    background-color: #fbffc3;
}
.progress {
    background-color: #ffffff;
}
#img{
    width: 500px;
    height: 900px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#img_main{
    width: 500px;
    height: 600px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#question-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.question-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
    
.btn-info.focus, .btn-info:focus {
    box-shadow: 0 0 0 0.1rem rgb(255 255 255);
}
    .btn-info:hover {
    color: #ffffff;
    background-color: #ffffff;
    border-color: #ffffff;
            box-shadow: 0 0 0 0.1rem rgb(255 255 255);
}
    .btn-info.focus, .btn-info:focus {
    color: #ffffff;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0 0 0 0.1rem rgb(255 255 255);
}
    .btn-info {
    color: #ffffff;
    background-color: #ffffff;
    border-color: #ffffff;
            box-shadow: 0 0 0 0.1rem rgb(255 255 255);
}
    .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(255 255 255);
}
   
    
    
    .at-share-btn-elements{
        text-align: center;
    }
.share{
    margin: 0 auto;
}

.kakao_ad{
    width: 320px;
    margin: 0 auto;
}

.kakao_ad2{
    width: 320px;
    margin: 0 auto;
}
.coupang_ad {
    width: 320px;
    margin: 0 auto;
}
        .custom-button {
            width: 100%;
            max-width: 350px;
            margin: 0 auto;
        }
