body {
    font-family: 'GangwonEduSaeeum_OTFMediumA', Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 1.5em;
}

.post-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.post {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-title {
    flex-grow: 1;
    font-size: 1em;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.post-details {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8em;
}

.post:hover {
    background-color: #f0f0f0;
}

.login-buttons, .login-status {
    text-align: right;
    padding: 10px;
}

#post-form {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
