@font-face {
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 페이지 전체 폰트 크기 및 bold 설정 */
body {
    font-family: 'GangwonEduSaeeum_OTFMediumA', Arial, sans-serif;
    font-size: 22px; /* 페이지 폰트 크기를 22px로 설정 */
    font-weight: bold; /* 페이지 텍스트를 bold로 설정 */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    overflow-x: hidden; /* 가로 스크롤 방지 */
}

.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.question-step {
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.question-step.active {
    display: block;
    opacity: 1;
}

/* 버튼 폰트 크기 및 bold 설정 */
button {
    padding: 10px 20px;
    font-size: 22px; /* 버튼 폰트 크기 */
    font-family: 'GangwonEduSaeeum_OTFMediumA', Arial, sans-serif; /* 버튼에 동일 폰트 적용 */
    font-weight: bold; /* 버튼 텍스트도 bold로 설정 */
    background-color: #00bfff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    min-width: 200px; /* 버튼 최소 너비 */
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.back-button {
    margin-top: 20px;
    background-color: #ff6347;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    font-size: 1.2em;
    margin: 10px auto;
    display: block;
    text-align: center;
    width: 80%; /* 입력 필드 넓이 설정 */
    max-width: 600px; /* 입력 필드 최대 너비를 600px로 확장 */
}

.result-item {
    margin-top: 20px;
    text-align: left; /* 결과 항목 왼쪽 정렬 */
    border: 1px solid #ddd;
    padding: 20px; /* 내부 여백을 더 추가하여 항목을 분리 */
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%; /* 가로 너비를 100%로 설정하여 페이지의 대부분을 차지하도록 */
    max-width: 1400px; /* 최대 너비를 1400px로 확장 */
    margin: 20px auto;
}

.result-item p {
    margin: 10px 0; /* 텍스트 항목 간 여백 추가 */
}

#result-content {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

#selected-min-price, #selected-max-price {
    font-weight: bold; /* 값의 가독성을 높이기 위해 굵게 표시 */
    color: #333; /* 텍스트 색상 */
}

@media only screen and (max-width: 768px) {
    input[type="text"], input[type="number"], button {
        width: 90%;
        max-width: 400px;
    }

    .result-item {
        width: 95%; /* 모바일에서는 결과 항목이 화면에 꽉 차도록 설정 */
        max-width: 100%; /* 모바일에서는 최대 너비를 100%로 설정 */
    }
}

footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    margin-top: auto;
}

footer p {
    margin: 0;
}
